<%- contentFor("title", "Add New Product") %>

<%- contentFor("body") %>
<h1>Create a New Product</h1>
<form method="POST">
  <%- productForm %>
  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Create Product</button>
  </div>
</form>
