{{! Product List Page }}
{{#if products.length}}
  <h1>All Products</h1>
  <ul>
    {{#each products}}
      <li>
        <strong>{{this.name}}</strong> - ${{this.cost}}
        <br>
        {{this.description}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No products found.</p>
{{/if}}
<a href="/products/new">Add New Product</a>
