<%- contentFor("title", "Update Product" + product.name) %>

<%- contentFor("body") %>
<form method="POST">
    <%- productForm %>
    <button class="btn btn-primary mt-3">Update Product</button>
</form>
